---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Works from '../components/Works.astro';
import About from '../components/About.astro';
import News from '../components/News.astro';
---
<Layout
  title="【課題】株式会社ナディア | デザインの力を、すべてのひとへ。 | 東京・札幌を拠点とした制作会社"
>
  <Header />
  <main>
    <Works />
    <About />
    <News />
  </main>
</Layout>
