---
---

<div class="c-loading"></div>
<div class="spotlight"></div>

<header class="c-header">
  <div class="c-header__inner">
    <a href="/" class="spotlightElem"><h1><img src="images/logo.png" alt="株式会社ナディア" /></h1></a
    >
    <nav class="c-nav">
      <ul class="c-nav-list">
        <li><a href="#" class="c-nav-list__link spotlightElem">solution</a></li>
        <li><a href="#" class="c-nav-list__link spotlightElem">works</a></li>
        <li><a href="#" class="c-nav-list__link spotlightElem">about us</a></li>
        <li><a href="#" class="c-nav-list__link spotlightElem">recruit</a></li>
        <li><a href="#" class="c-nav-list__link spotlightElem">news</a></li>
      </ul>
      <a href="#" class="c-contact-link spotlightElem"><span>contact</span></a>
    </nav>
  </div>
</header>
<div class="c-hero">
  <img src="images/mv.jpg" alt="" />
  <div class="c-scroll">
    <span class="c-scroll__line"></span>
    <span class="c-scroll__circle"></span>
  </div>
  <div class="c-hero-text">
    <span class="c-hero-text__top">Design</span><br />
    <span class="c-hero-text__bottom">for everyone</span>
  </div>
</div>
