---

---

<section class="p-news">
  <h2 class="c-heading scaleyElem">
    <img
      src="images/heading_news.png"
      srcset="images/heading_news@2x.png 2x"
      width="116"
      height="24"
      alt="anout us"
    />
  </h2>

  <ul class="c-news-list scalexElem">
    <li>
      <a href="#" class="c-news-list__link"
        ><div class="c-news-list__date">
          2021.04.22<span class="c-news-list__category">News</span>
        </div>
        <p class="c-news-list__title">
          2021年度全社員研修「Nadia Training Program 2021」スタート
        </p>
        <span class="c-news-list__circle">
          <img
            src="images/arrow_gy.png"
            srcset="images/arrow_gy@2x.png 2x"
            width="25"
            height="21"
            alt=""
          />
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="c-news-list__link"
        ><div class="c-news-list__date">
          2021.01.01<span class="c-news-list__category">News</span>
        </div>
        <p class="c-news-list__title">年始のご挨拶</p>
        <span class="c-news-list__circle">
          <img
            src="images/arrow_gy.png"
            srcset="images/arrow_gy@2x.png 2x"
            width="25"
            height="21"
            alt=""
          />
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="c-news-list__link"
        ><div class="c-news-list__date">
          2020.08.04<span class="c-news-list__category">Release</span>
        </div>
        <p class="c-news-list__title">
          株式会社ナディア制作の「紡ぐ TSUMUGU：Japan Art &
          Culture」がWebグランプリ2020における企業BtoCサイト...
        </p>
        <span class="c-news-list__circle">
          <img
            src="images/arrow_gy.png"
            srcset="images/arrow_gy@2x.png 2x"
            width="25"
            height="21"
            alt=""
          />
        </span>
      </a>
    </li>
  </ul>

  <div class="p-more-link-block-03">
    <a href="#" class="c-more-link-03">
      <span class="c-more-link-03__heading"
        ><img
          src="images/learn_more_wh.png"
          width="76"
          height="11"
          alt="続きを読む"
        /></span
      >
      <span class="c-more-link-03__circle"
        ><img
          src="images/arrow_wh.png"
          srcset="images/arrow_wh@2x.png 2x"
          width="25"
          height="21"
          alt=""
        /></span
      >
    </a>
  </div>
</section>
